
#router-outlet {
    margin-left: 285px;
    height: 100%;
    margin-right: 5px;
}

.nav-bar-not-exist {
  display: flex;
  margin: 0 !important;
  height: 90vh !important;
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  filter: drop-shadow(0 0 10px white);
}

