.modal-title {
    text-align: center;
}

input {
    margin-bottom: 10px;
}

.actionBtn {
    border: 1px solid;
}



.options { 
    width: 100%;
    button {
        width: 90%;
    }
}

.dropdown-menu {
    background-color: rgb(248, 241, 232);
}