<div *ngIf="flag == 1" class="alert alert-success popup" role="alert" @fadeOut>
    
    <p class="mb-0"><span><i class="bi bi-envelope-check"></i></span>
        Email has been sent successfully!</p>
</div>

<div *ngIf="flag == 2" class="alert alert-success popup" role="alert" @fadeOut>
    
    <p class="mb-0"><span><i class="bi bi-envelope-check"></i></span>
        Email has been saved successfully!</p>
</div>

<div *ngIf="flag == 3" class="alert alert-success popup" role="alert" @fadeOut>
    
    <p class="mb-0"><span><i class="bi bi-envelope-check"></i></span>
        Device has been moved to decommissioning list!</p>
</div>

<div *ngIf="flag == 4" class="alert alert-success popup" role="alert" @fadeOut>
    
    <p class="mb-0"><span><i class="bi bi-cloud-upload-fill"></i></span>
        Excel file has successfully been uploaded!</p>
</div>

<div *ngIf="flag == 5" class="alert alert-success popup" role="alert" @fadeOut>
    
    <p class="mb-0"><span><i class="bi bi-check-circle"></i></span>
        Device has been moved to maintaining list!</p>
</div>

<div *ngIf="flag == 6" class="alert alert-success popup" role="alert" @fadeOut>
    
    <p class="mb-0"><span><i class="bi bi-check-circle"></i></span>
        Device has been moved back to stock!</p>
</div>

<div *ngIf="flag == 7" class="alert alert-success popup" role="alert" @fadeOut>
    
    <p class="mb-0"><span><i class="bi bi-check-circle"></i></span>
        Device has been decommissioned successfully!</p>
</div>

<div *ngIf="flag == 8" class="alert alert-danger popup" role="alert" @fadeOut>
    
    <p class="mb-0"><span><i class="bi bi-exclamation-circle"></i></span>
        Your session has expired, please log in again!</p>
</div>

<div *ngIf="flag == 9" class="alert alert-success popup" role="alert" @fadeOut>
    
    <p class="mb-0"><span><i class="bi bi-person-check-fill"></i></span>
        Selected Users have been added to Permission List!</p>
</div>

<div *ngIf="flag == 10" class="alert alert-success popup" role="alert" @fadeOut>
    
    <p class="mb-0"><span><i class="bi bi-envelope-check"></i></span>
        Settings have been saved successfully!</p>
</div>