.modal-title {
    text-align: center;
}

input {
    margin-bottom: 10px;
}


/* The lines below is used to center the table
td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

.mat-sort-header-container {
    justify-content: center !important;
}
*/

.status {
    font-weight: 700;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100;
}
