i:active:hover {
    color: blue;
}

mat-radio-button {
    font-family: 'Circular Std', sans-serif !important;
}


#confirmModal {
    z-index: 1062;
    background-color: rgba(0,0,0,0.3) !important;
}

